{% extends bill_base %}
{% load static %}

{% load widget_tweaks %}


{% block title %} Salida No : {{ bill.billno }}{% endblock title %}


{% block content %}
    
    <div style="color:#a1afdb; font-style: bold; font-size: 3rem;  border-bottom: 1px solid white;">Comprobante de Salida No : {{ bill.billno }}</div>

    <br><br>

    <form method="post">
    {% csrf_token %}

        <div class="bg">

            <br><br>

            <div id="printArea" class="bg">

                <table class="outer-box inner-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                    <tbody>

                        <center>
                            <div class="box">
                                <img src="{% static 'img/endelogo.png' %}">    
                            </div>
                        </center>
                    
                        <tr style="height: 1px;">
                            <td> <p style="text-align: center;">COMPROBANTE DE SALIDA DE REPUESTOS</p> </td>
                        </tr>
                    
                        <tr style="text-align: center;">
                            <td >
                                <span style="font-size: 250%;">GERENCIA INDUSTRIAL</span> <br>
                                <span style="font-size: 250%;">TALLER MECANICO Y DE MAESTRANZA REGIONAL ORURO</span> <br>
                                <span style="font-size: 120%; font-weight: bold; text-decoration: underline;">Almacen  : Repuestos</span> <br>
                                <span style="text-decoration: underline; font-weight: bold;">Direccion Taller Oruro :</span> Final Pisagua<br>America 12 de Octubre<br>
                                <span style="text-decoration: underline; font-weight: bold;">Email : jorge.mercado@endesyc.bo</span> <br><br>
                            </td>
                        </tr>
                    
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="text-align: center; font-weight: bold;" colspan="3">NIT No - 1020673029</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;">&nbsp;NOMBRE DEL DESPACHANTE</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;COMPROBANTE No</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.billno }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;">&nbsp;{{ bill.name }}</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;FECHA</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.time.date }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;" rowspan="3">{{ bill.address|linebreaks }}</td>
                                       <!--  {% if billdetails.eway %}{{ billdetails.eway }}{% endif %} -->
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;OT No</td>
                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="eway" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.eway %}{{ billdetails.eway }}{% endif %}"></td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;CIA No</td>
                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="veh" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.veh %}{{ billdetails.veh }}{% endif %}"> </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;SECCION</td>
                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="destination" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.destination %}{{ billdetails.destination }}{% endif %}"> </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;NIT No : {{ bill.gstin }} </td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;TELEFONO No &amp; FECHA</td>
                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="po" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.po %}{{ billdetails.po }}{% endif %}"> </td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box" style="width: auto; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 05%; font-weight: bold; text-align: center;">&nbsp;#</td>
                                        <td class="inner-box" style="width: 30%; font-weight: bold; text-align: center;">DESCRIPCION DE REPUESTO</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">&nbsp;CODIGO</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">CANTIDAD</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">P/U</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">P/P</td>
                                        <td class="inner-box" style="width: 05%; font-weight: bold; text-align: center;">P/TOTAL</td>
                                    </tr>
                                    {% for item in items %}
                                        <tr style="height: auto;">
                                            <td class="inner-box" style="width: 5%;">&nbsp; {{ forloop.counter }}</td>
                                            <td class="inner-box" style="width: 30%;">&nbsp; {{ item.stock.name }}</td>
                                            <td class="inner-box" style="width: 12%;"></td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.quantity }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.perprice }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp;{{ item.totalprice }}</td>
                                            <td class="inner-box" style="width: 5%;">&nbsp;{{ item.totalprice }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                <table class="outer-box inner-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                    <tbody>
                                        <tr>
                                            <td class="inner-box" style="width: 35%; text-align: center;" rowspan="6">
                                                <p> <span style="font-weight: bold;">DETALLES DEL ALMACEN <br> ENDE Servicios y Construcciones</span> <br>
                                                    Sección Talleres <br> NIT 1020673029 <br> EL ALTO Av Panamericana <br> SECCION INDUSTRIAL <br> CELULAR No - 72085879</p>
                                            </td>
                                            <td class="inner-box" style="width: 30%; font-weight: bold;">&nbsp; @ 2.5%</td>
                                            <td class="inner-box align-middle" style="width: 30%;">&nbsp; <input type="text" name="cgst" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.cgst %}{{ billdetails.cgst }}{% endif %}"></td>
                                        </tr>
                                        <tr>
                                            <td class="inner-box" style="font-weight: bold;">&nbsp; @ 2.5%</td>
                                            <td class="inner-box align-middle">&nbsp; <input type="text" name="sgst" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.sgst %}{{ billdetails.sgst }}{% endif %}"></td>
                                        </tr>
                                        <tr>
                                            <td class="inner-box" style="font-weight: bold;">&nbsp; @ 5% </td>
                                            <td class="inner-box align-middle">&nbsp; <input type="text" name="igst" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.igst %}{{ billdetails.igst }}{% endif %}"></td>
                                        </tr>
                                        <tr>
                                            <td class="inner-box" style="font-weight: bold;">&nbsp; @ 400/PU </td>
                                            <td class="inner-box align-middle">&nbsp; <input type="text" name="cess" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.cess %}{{ billdetails.cess }}{% endif %}"></td>
                                        </tr>
                                        <tr>
                                            <td class="inner-box" style="font-weight: bold;">&nbsp; @ 1%</td>
                                            <td class="inner-box align-middle">&nbsp; <input type="text" name="tcs" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.tcs %}{{ billdetails.tcs }}{% endif %}"></td>
                                        </tr>
                                        <tr>
                                            <td class="inner-box" style="font-weight: bold;">&nbsp;TOTAL</td>
                                            <td class="inner-box align-middle">&nbsp; <input type="text" name="total" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.total %}{{ billdetails.total }}{% endif %}"> </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
    
                            <tr>
                                <td style="text-align: right;">
                                    <span style="font-weight: bold;">ENDESYC - ORURO <br><br><br><br> cc/JAMA</span>
                                </td>
                            </tr>
    
                            <tr>
                                <td style="text-align: center;">
                                    ORURO - BOLIVIA
                                </td>
                            </tr>
    
                        </tbody>
                    </table>
            </div>

            <br><br>

        </div>

        <br><br>

        <div class="wrapper">
            <button class="center ghost-blue" onclick="printpage('printArea')">Imprimir</button>
            <button class="center ghost-green" type="submit">Actualizar Salida</button>
            <a href="{% url 'sales-list' %}" class="btn center ghost-button">Volver Atras</a>
        </div>
    
    </form>
    
    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
        </script>

{% endblock %}